extends inc/page.pug
block template
    :php
        /*
        Template Name: Our Sales Page
        */
block content
    :php
        if( have_posts() ) {
            while( have_posts() ) {
                the_post();
    .content
        section
            .container
                .row
                    .col-md-12
                        h1
    section.sales.padding-bottom
        .container
            .row
                :php
                    foreach(get_field("previous_sales") as $key=>$sale) {
                        printf("<div class='col-md-4 history-block'><div class='history-thumb' data-bg-object='%s'></div><div class='wysiwyg'>%s</div></div>", json_encode($sale["thumb_image"], JSON_UNESCAPED_SLASHES), $sale["house_info"]);
                    }
                        }}
