extends inc/page.pug
block template
    :php
        /*
        Template Name: Our Sales Page
        */
block content
    :php
        if( have_posts() ) {
            while( have_posts() ) {
                the_post();
    article.content-main
        section.content-section
            .content
                .full-width
                    h1
                        :php
                            the_title();
    section.content-section.sales.padding-bottom
        .content
            .sales-grid
                :php
                    foreach(get_field("previous_sales") as $key=>$sale) {
                        printf("<div class='sales-item'><div class='history-thumb' data-bg-object='%s'></div><div class='wysiwyg'>%s</div></div>", json_encode($sale["thumb_image"], JSON_UNESCAPED_SLASHES), $sale["house_info"]);
                    }
                        }}