extends inc/page.pug
block template
  :php
    /*
    Template Name: Page
    */
block content
  article.content-main
    section.content-section
      .content
        .full-width
          h1.section-title
            :php
              the_title();
          :php
            if( have_posts() ): while( have_posts() ): the_post();
              the_content();
            endwhile;
            endif;