extends inc/landing-page.pug
block template
  :php
    /*
    Template Name: Landing Page April 2020
    */
block content
  .landing-page
    header
      .inner.fixed-lg
        a.logo(href='https://withwre.com/thebeuschers/listings/my-office-s-listings')
          #logo-facepic
          img(src='/wp-content/themes/thebeuschers/images/windmere-logo.png')
        :php
            printf("<h1>%s</h1>",get_field("page_header"));
            printf("<h2>%s</h2>",get_field("page_subhead"));       
            printf("<div class='lp-wysiwyg-content'>%s</div>",get_field("page_content")); 
      a.lp-button.cta(href="https://withwre.com/thebeuschers/listings/my-office-s-listings") Check Out Our Listings
    article
      .inner.fixed-lg
        h2 Or 
          a(href="tel:206-409-2244") Call Us
          | .
        a.lp-button(href="tel:206-409-2244") 206-409-2244
        br
        h2 Or 
          a(href="mailto:thebeuschers@windermere.com")  Send Us Email
          | .
        a.lp-button(href="mailto:thebeuschers@windermere.com") thebeuschers@windermere.com
        br
        h2 Or Check Out The Rest Of Our Website. It's Got a Picture of Our Kid On It. He's Pretty Cute for A 34 Year Old.
        a.lp-button.knockout(href="https://thebeuschers.com/") thebeuschers.com
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h2 It's Pronounced "Boysher". If You Were Curious.
    footer
      .inner.fixed-lg
        p!="&copy; 2020 thebeuschers | "
          a(href="https://thebeuschers.com/") thebeuschers.com  
