extends inc/page.pug
block template
    :php
        /*
        Template Name: Open House LP
        */
block content  
    article.content-main.open-house
        section.carousel-section
            .content
                .full-width
                    :php
                        printf("<h1>%s</h1>",get_the_title());

        section.carousel-wrapper
            .content
                .carousel.swiper-container
                    .swiper
                        .swiper-wrapper
                            :php
                                foreach(get_field("photos") as $idx=>$slide) {
                                    printf("<div class='swiper-slide' data-bg-object='%s'><div class='photo-caption'><p>%s</p></div></div>",json_encode($slide["photo"],JSON_UNESCAPED_SLASHES),$slide["caption"]);
                                }
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next

        section.content-section.low-padding
            .content
                .full-width
                    :php
                        the_content();

                :php
                    $cta = get_field("cta");
                    if ($cta["button_label"]!="" && $cta["button_url"]!="") {
                        printf("<div class='text-center padding-bottom'><a class='button' target='_blank' href='%s'>%s</a></div>", $cta["button_url"], $cta["button_label"]);
                    }