extends inc/page.pug
block template
	:php
		/*
		Template Name: Blog Entry Page
		*/
block content
	.content
		:php
			if( have_posts() ){
			 while( have_posts() ) {
				the_post();
				$start_date = get_the_date();
			$parent_title = "Blog";
			$parent_url = "/blog/";
		include ./inc/breadcrumbs.pug
		section
			.container
				.row
					.col-md-12
						h1
							:php
								the_title();
						include ./inc/social-share-menu.pug
		section.container.blog-content
			.row
				.col-md-12
					article.blog-content
						:php
							the_content();
		section.container.blog-comments
			.row
				.col-md-12
					:php
						if ( comments_open() ) :
							$fields = array(
								'author' => '<p class="comment-form-author">' . '<label for="author">' . __( 'Name', 'responsive' ) . '</label> ' . ( $req ? '<span class="required">*</span>' : '' ) .
								'<input id="author" name="author" type="text" value="' . esc_attr( $commenter['comment_author'] ) . '" size="30" /></p>',
								'email'  => '<p class="comment-form-email"><label for="email">' . __( 'E-mail', 'responsive' ) . '</label> ' . ( $req ? '<span class="required">*</span>' : '' ) .
								'<input id="email" name="email" type="text" value="' . esc_attr( $commenter['comment_author_email'] ) . '" size="30" /></p>',
								'url'    => '<p class="comment-form-url"><label for="url">' . __( 'Website', 'responsive' ) . '</label>' .
								'<input id="url" name="url" type="text" value="' . esc_attr( $commenter['comment_author_url'] ) . '" size="30" /></p>',
							);

							$defaults = array( 'fields' => apply_filters( 'comment_form_default_fields', $fields ) );

							comment_form( $defaults );
						endif;
						$comments = get_comments(array('post_id'=>get_the_ID()));
						if ($comments) {
					h2 Comments
					:php
							foreach ($comments as $idx=>$comment) {
								printf("<div class='comment'><div class='comment-content'>%s</div><cite>Posted by %s on %s</cite></div>",$comment->comment_content,$comment->comment_author,$comment->comment_date);
							}
							
						}
						else {
							echo "No comments yet...";
						}
		:php
			}}