extends inc/page.pug
block template
    :php
        /*
        Template Name: Testimonials
        */
block content  
    .testimonial-header
        .content
            .full-width
                :php
                    printf("<h1>%s</h1>",get_field("page_header"));
                    printf("<div class='wysiwyg'>%s</div>",get_field("page_top_content"));

    .testimonial-wrapper
        .testimonial-content
            .carousel.swiper-container
                .swiper
                    .swiper-wrapper
                        :php
                            foreach(get_field("testimonials") as $idx=>$slide) {
                                printf("<div class='swiper-slide'><div class='testimonial'><div class='wysiwyg'>%s</div><cite>%s</cite></div></div>",$slide["testimonial"],$slide["name"]);
                            }
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next