footer
  .footer-top
    .container
      .row
        .col-md-12.footer-menu
          nav
            ul.hmenu
              +makemenu(menudata)
        .col-md-12
          h2 John Beuscher
          ul.hmenu.contact
            li
              a(href='tel:1-206-409-2244')
                .icon
                  .inner
                    include icons/phone.svg
                span 1-206-409-2244
            li
              a(href='mailto:thebeuschers@windermere.com')
                .icon
                  .inner
                    include icons/envelop.svg
                span thebeuschers@windermere.com
        .col-md-12
          img(src=themeDir+"images/windmere-logo-white.png")    
  .footer-bottom
    .container
      .row
        .col-sm-12
          p © 2023. The Beuschers. All rights reserved.
