footer.main
  .footer-top
    nav.footer-nav
      for item in menudata
        a(href=item.url, class=item.classname)= item.label

    .contact-info
      h2 Johnny Beuscher
      .contact-links
        a(href='tel:1-206-409-2244').contact-link
          .icon
            .inner
              include icons/phone.svg
          span 1-206-409-2244

        a(href='mailto:thebeuschers@windermere.com').contact-link
          .icon
            .inner
              include icons/envelop.svg
          span thebeuschers@windermere.com

    .footer-logo
      img(src=themeDir+"images/windmere-logo-white.png" alt="Windermere Logo")

  .footer-bottom
    p © #{new Date().getFullYear()}. The Beuschers. All rights reserved.