include ./menu-data

header.main
  section.contact-header
    .row.no-margin
      .col-md-6.no-padding
        a.logo(href=siteurl)
          #logo-facepic
          img(src=siteurl+"wp-content/themes/thebeuschers/images/windmere-logo.png")    
      .col-md-3.visible-md.visible-lg
        h2       
      .col-md-3.visible-md.visible-lg
        h2 John Beuscher
        a(href='tel:1-206-409-2244')
          span.fa-1x.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-stack-1x.fa-inverse.fa-phone
          span 1-206-409-2244
        br
        a(href='mailto:thebeuschers@windermere.com')
          span.fa-1x.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-stack-1x.fa-inverse.fa-envelope
          span.email thebeuschers@windermere.com
  section.main-header
    .container
      .row
        .col-md-4.no-padding
          ul.hmenu.social-links
            li
              a(href='https://www.facebook.com/TheBeuschers/')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-facebook
            li
              a(href='https://www.youtube.com/channel/UCJrgtcobqCglLqUUUK1t0XQ?app=desktop')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-youtube
            li
              a(href='https://www.instagram.com/thebeuschers.re/')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-instagram
        .col-md-8.visible-md.visible-lg.right.no-padding
          nav.small-nav
            ul.hmenu
              +makemenu(menudata)