include ./menu-data

header.main
  .header-top
    .windermere-logo
      img(src=themeDir + "images/windmere-logo.png" alt="Windermere Logo")
    a.logo(href="/")
      include icons/logonew.svg
    .contact-block
      a(href='tel:1-206-409-2244').contact-link
        .icon
          include icons/phone.svg
        span 1-206-409-2244
      a(href='mailto:thebeuschers@windermere.com').contact-link
        .icon
          include icons/envelop.svg
        span.email thebeuschers@windermere.com

  // These three elements must be siblings for the CSS selectors to work
  input(type="checkbox" id="menu-toggle").menu-toggle
  label(for="menu-toggle").hamburger-icon
    span
    span
    span
  nav.main-nav
    for item in menudata
      a(href=item.url, class=item.classname)= item.label