.breadcrumbs-bucket {
  padding-top: 70px;
  padding-bottom: 0;
}

.breadcrumbs {
  font-size: 14px;

  .separator,
  span {
    display: inline-block;
  }

  .separator {
    margin: 0 5px 0 2px;
  }

  a {
    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}

a.pager-thumb {
  position: relative;
  display: inline-block;
  margin: 0 -0.5px;
  width: 50%;
  height: 100px;
  overflow: hidden;
  padding: 0 $gutter-width;
  background: $grey;
  color: $white;

  h4 {
    font-size: 10px;
    text-transform: uppercase;
    margin: calc($gutter-width/2) 0 0;
    padding: 0;
  }

  .arrow-wrapper,
  .title-wrapper {
    position: absolute;
    top: 0;
    height: 50px;
  }

  .arrow-wrapper {
    margin: 0 0 0;

    .next-arrow,
    .prev-arrow {
      width: 20px;
      height: 50px;
      background: url($img-path + "chevrons.png") no-repeat;
    }
    .next-arrow {
      background-position: -90px 10px;
    }
    .prev-arrow {
      background-position: 0 10px;
    }
  }

  .label-wrapper {
    display: none;
    position: absolute;
    left: 40px;
    width: 50%;

    h4 {
      margin-top: 18px;
    }
  }

  &.prev {
    .arrow-wrapper {
      left: 10px;
    }

    .title-wrapper {
      left: 40px;
      right: 10px;
    }
  }

  &.next {
    .arrow-wrapper {
      right: 10px;
    }

    .title-wrapper {
      right: 40px;
      left: 10px;
    }

    .label-wrapper {
      left: auto;
      right: 40px;
    }

    h4 {
      text-align: right;
    }
  }

  &:hover {
    h4 {
      color: $white;

      &.thumb-headline {
        color: $white;
      }
    }
  }
  @include bp(m) {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 285px;
    height: 50px;
    transition: all 0.25s ease-in-out;

    .label-wrapper {
      display: block;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    .title-wrapper {
      opacity: 0;
    }

    &:hover {
      .label-wrapper {
        display: none;
      }
      .next-arrow {
        background-position: -60px 10px;
      }
      .prev-arrow {
        background-position: -30px 10px;
      }
      .title-wrapper {
        opacity: 1;
      }
    }
  }
}
