@use "variables" as *;

header.main.beuscher {
  height: $header-height;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1000;
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    flex: 1;
    z-index: 2;
  }

  .windermere-logo {
    background: white;
    margin: 0 0 10px 5px;
    border-radius: 5px;

    img {
      width: 180px;
      height: auto;
    }
  }

  .logo {
    svg {
      background: white;
      width: 90%;
      padding: 5%;
      height: auto;
    }

    // SVG Logo styles
    .logo-path {
      fill: #565758;
    }
  }

  .contact-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .contact-link {
      display: flex;
      align-items: center;
      color: #333;
      font-size: 14px;
      transition: $header-transition;

      &:hover {
        color: black;

        .icon {
          opacity: 1;
          background: #ccc;
        }
      }

      span {
        margin-left: 0.5rem;
      }
    }

    .icon {
      transition: $header-transition;
      background: rgba(255, 255, 255, 0.3);
      opacity: 0.8;
      border-radius: 50%;
      width: $icon-size;
      height: $icon-size;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: $icon-inner-size;
        height: $icon-inner-size;
        fill: currentColor;
      }
    }
  }

  .main-nav {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    height: $nav-height;
    z-index: 1;
    a {
      font-size: 16px;
      padding: 1.25rem 0.625rem;
      color: $header-color;
      position: relative;
      transition: $header-transition;
      line-height: 1;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width 0.3s ease;
      }

      &:hover {
        color: $off-black;
        text-decoration: none;
        &::after {
          width: 100%;
        }
      }

      &.active::after {
        width: 100%;
      }
    }
  }

  /* Hamburger Menu Styles */
  .menu-toggle {
    display: none;
  }

  .hamburger-icon {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #333;
      border-radius: 3px;
      transition: all 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }
  }
  &.embedded-header {
    height: auto;
    .main-nav {
      height: auto;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  header.main.beuscher {
    height: $header-height-mobile;
    position: relative;

    .header-top {
      padding: 0 1rem;
      justify-content: space-between;
    }

    .windermere-logo {
      img {
        width: 120px;
      }
    }

    .logo {
      width: 50%;
      margin: 10px auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .contact-block {
      display: none;
    }

    /* Hamburger Menu Toggle */
    .menu-toggle {
      display: none;

      &:checked {
        ~ .hamburger-icon {
          span {
            &:nth-child(1) {
              top: 10px;
              transform: rotate(135deg);
            }

            &:nth-child(2) {
              opacity: 0;
              transform: rotate(135deg);
            }

            &:nth-child(3) {
              top: 10px;
              transform: rotate(-135deg);
            }
          }
        }

        ~ .main-nav {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .hamburger-icon {
      display: block;
    }

    .main-nav {
      position: fixed;
      top: $header-height-mobile;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.95);
      padding: 1rem 0;
      flex-direction: column;
      align-items: center;
      //transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
      height: auto;

      a {
        padding: 0.75rem 1rem;
        width: 100%;
        text-align: center;
        font-size: 1rem;

        &::after {
          display: none;
          bottom: 0.5rem;
        }
      }
    }
  }
}
.social-links {
  display: none;
}
@media (min-width: $mobile-breakpoint) {
  .social-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    a {
      display: inline-flex;
      padding: 0;
      margin: 0 0.5em 0 0;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      svg {
        fill: $off-black;
      }
      &:hover {
        background: $off-black;
        svg {
          fill: white;
        }
      }
    }
  }
}
