@use "variables" as *;
@use "sass-mixins" as *;

.content-main.open-house {
  font-size: 1.4em;
  line-height: 1.8;
}

.content-section.open-house {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 1.8;
}
